<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Restaurent System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RestaurentController</display-name>
    <servlet-name>RestaurentController</servlet-name>
    <servlet-class>com.sastra.controller.RestaurentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurentController</servlet-name>
    <url-pattern>/RestaurentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dup</display-name>
    <servlet-name>Dup</servlet-name>
    <servlet-class>com.sastra.controller.Dup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dup</servlet-name>
    <url-pattern>/Dup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cont</display-name>
    <servlet-name>Cont</servlet-name>
    <servlet-class>com.sastra.controller.Cont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cont</servlet-name>
    <url-pattern>/Cont</url-pattern>
  </servlet-mapping>
</web-app>
